aiohttp==3.6.2
alabaster==0.7.12
argh==0.26.2
asn1crypto==1.2.0
astroid==2.1.0
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.6.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.7.1
bleach==3.0.2
blis==0.4.1
boto==2.49.0
boto3==1.10.27
botocore==1.13.27
bs4==0.0.1
catalogue==0.0.8
certifi==2018.11.29
cffi==1.13.0
chardet==3.0.4
chart-studio==1.0.0
cloudpickle==0.6.1
colorama==0.4.1
coverage==4.5.4
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
dbfread==2.0.7
decorator==4.3.0
defusedxml==0.5.0
diff-match-patch==20181111
discord==1.0.1
discord.py==1.3.2
Django==2.2.7
docformatter==1.3.1
docutils==0.14
EasyProcess==0.2.7
en-core-web-sm==2.2.5
entrypoints==0.2.3
flake8==3.7.9
fpdf==1.7.2
future==0.18.2
gender-guesser==0.4.0
gensim==3.8.1
helpdev==0.6.10
idna==2.7
idna-ssl==1.1.0
imagesize==1.1.0
imap-tools==0.13.1
img2pdf==0.3.3
importlib-metadata==1.1.0
intervaltree==3.0.2
ipykernel==5.1.3
ipyparallel==6.2.4
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
jedi==0.14.1
Jinja2==2.10
jmespath==0.9.4
joblib==0.14.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-sphinx==0.2.3
jyquickhelper==0.3.128
keyring==17.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
llvmlite==0.26.0
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
metakernel==0.24.3
mistune==0.8.4
mlinsights==0.2
mnist==0.2.2
more-itertools==8.0.0
multi-key-dict==2.0.3
multidict==4.7.5
murmurhash==1.0.2
Naked==0.1.31
names==0.3.0
nbconvert==5.6.1
nbformat==4.4.0
nbpresent==3.0.0
nltk==3.4.5
notebook==5.7.2
numba==0.41.0
numpy==1.17.4
numpydoc==0.8.0
packaging==18.0
pandas==0.23.4
pandas-streaming==0.1.87
pandocfilters==1.4.2
papierstat==0.1.178
paramiko==2.7.0
parso==0.5.1
pathtools==0.1.2
patool==1.12
pdf2jpg==1.0
pdfminer.six==20181108
pdfplumber==0.5.14
pdfviewer==0.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.0.0
pipenv==2018.11.26
plac==1.1.3
plotly==4.2.1
pluggy==0.13.1
portalocker==1.5.2
preshed==3.0.2
prometheus-client==0.5.0
prompt-toolkit==2.0.7
psutil==5.4.8
psycopg2==2.8.3
ptyprocess==0.6.0
pycodestyle==2.4.0
pycparser==2.19
pycryptodome==3.9.0
pydocstyle==4.0.1
pyflakes==2.0.0
Pygments==2.3.0
pylint==2.2.2
Pympler==0.8
PyNaCl==1.3.0
pyparsing==2.3.0
PyPDF2==1.26.0
pypiwin32==223
PyQt5==5.9
PyQt5-sip==4.19.15
PyQtWebEngine==5.12.1
pyquickhelper==1.9.3248
pytesseract==0.3.0
python-dateutil==2.7.5
python-jsonrpc-server==0.3.2
python-language-server==0.31.2
python-mnist==0.6
pytz==2018.7
pyunpack==0.1.2
pywin32==224
pywin32-ctypes==0.2.0
pywinpty==0.5.4
PyYAML==5.1.2
pyzmq==17.1.2
QDarkStyle==2.7
QtAwesome==0.5.7
qtconsole==4.6.0
QtPy==1.5.2
requests==2.20.1
retrying==1.3.3
rope==0.11.0
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.1.0
seaborn==0.9.0
semantic-version==2.8.3
Send2Trash==1.5.0
shellescape==3.4.1
sip==4.19.8
six==1.11.0
sklearn==0.0
smart-open==1.9.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
soupsieve==1.9.1
spacy==2.2.3
Sphinx==2.2.2
sphinx-gallery==0.5.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-imagesvg==0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
spyder==4.0.1
spyder-kernels==1.8.1
sqlparse==0.3.0
srsly==0.2.0
terminado==0.8.1
testpath==0.4.2
thinc==7.3.1
tornado==5.1.1
tqdm==4.40.0
traitlets==4.3.2
typed-ast==1.1.0
typing-extensions==3.7.4.1
umap-learn==0.3.10
unicodecsv==0.14.1
untokenize==0.1.1
urllib3==1.24.1
vboxapi==1.0
virtualenv==16.7.7
virtualenv-clone==0.5.3
wand==0.5.7
wasabi==0.4.2
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.1
widgetsnbextension==3.4.2
wrapt==1.10.11
yapf==0.29.0
yarl==1.4.2
zipp==0.6.0
